body {
  padding-left: 10%;
  padding-right: 10% ;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #c77ffc;
  justify-content: center;
  align-items: center;
}
a {
    color: #73d02f;
}
a:visited {
    color: #3f6c19;
}
a:hover {
    color: #d8dd22;
}
a:active {
    color: #eab315;
}
::selection {
    background-color: #eab315;
    color: grey;
}
.navbar {
    padding: 5px 5px 5px 5px;
    border: .2rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    line-height: 1rem;
}
.text-things {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    line-height: 1rem;
    transform: scaleY(1.67);
}
.logo {
    width: 4rem;
    height: auto;
}