body {
  padding-left: 15%;
  padding-right: 15% ;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #c77ffc;
  justify-content: center;
  align-items: center;
}
p {
}
a {
    color: #73d02f;
}
a:visited {
    color: #73d02f;
}
a:hover {
    color: #d8dd22;
}
a:active {
    color: #eab315;
}
::selection {
    background-color: #eab315;
    color: grey;
}
img {
  
}
.navbar {
    padding: 5px 5px 5px 5px;
    border: .2rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    line-height: 1rem;
}
.text-things {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    line-height: 1rem;
    transform: scaleY(1.67);
}
.logo {
    width: 4rem;
    height: auto;
}
.landing-page{
    text-align: center;
}
.landing-page p {
    text-indent: 0rem;
}
.image-gallery {
    text-align: center;
}
.gallery-image {
    max-width: 40rem;
    text-align: center;
    margin: auto;
    border: .7rem solid rgb(12, 14, 16); 
}
.games {
    align-items: center;
    text-align: center;
}
.landing-page p {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left
}
h1 {
    text-align: left;
    padding-left: 0%
}