body {
  padding-left: 15%;
  padding-right: 15% ;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #c77ffc;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  margin: auto;
}

p {
}

a {
    color: #73d02f;
}

a:visited {
    color: #73d02f;
}

a:hover {
    color: #d8dd22;
}

a:active {
    color: #eab315;
}

::selection {
    background-color: #eab315;
    color: #000;
    text-shadow:
        0 0 4px grey,
        0 0 11px grey,
        0 0 19px grey,
        0 0 40px ;
}

img {
  
}

.navbar {
    padding: 5px 5px 5px 5px;
    border: .2rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    line-height: 1rem;
    font-family: 'Times', serif;
}

.text-things {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    line-height: 1rem;
    transform: scaleY(1.67);
}

.logo {
    width: 4rem;
    height: auto;
    filter: drop-shadow(0 0 8px #FFFFFF)
            drop-shadow(0 0 20px #FFFFFF);
}

.landing-page{
    text-align: center;
}

.landing-page p {
    text-indent: 0rem;
}

.image-gallery {
    text-align: center;
}

.gallery-image {
    max-width: 40rem;
    text-align: center;
    margin: auto;
    border: .7rem solid rgb(12, 14, 16); 
}
.games {
    align-items: center;
    text-align: center;
}
.landing-page p {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left
}
h1 {
    text-align: left;
    padding-left: 0%
}
.portfolio {
    /* color: #39FF14; super saturated */
    /* color: #a8ff98; very unsaturated */ 
    color: #83ff6e; /* in the middle, more readable than pure green, more character than white */
    font-family: 'JetBrains Mono', monospace;
    background-color: #000;
    text-shadow:
        0 0 4px #39FF14AA,
        0 0 11px #39FF14AA,
        0 0 19px #39FF14AA,
        0 0 40px #0fa00fAA;
}

.portfolio a {
    /* color: #FFBF00; */
    color: #ffd65a;
    text-shadow:
        0 0 4px #FFBF00AA,
        0 0 11px #FFBF00AA,
        0 0 19px #FFBF00AA,
        0 0 40px #FFBF00AA; 
}

.portfolio a:hover{
    text-shadow:
        0 0 4px #d8dd22AA,
        0 0 11px #d8dd22AA,
        0 0 19px #d8dd22AA,
        0 0 40px #d8dd22AA;
}
.portfolio a:active{
    text-shadow:
        0 0 4px #eab315AA,
        0 0 11px #eab315AA,
        0 0 19px #eab315AA,
        0 0 40px #eab315AA;
}

.portfolio .navbar {
    /* border: .2rem solid #39FF14 ; */
}

.portfolio::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    /* repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 4px,
    rgba(0, 0, 0, 0.15) 4px,
    rgba(0, 0, 0, 0.15) 6px
  ), */
    repeating-linear-gradient(
      to right,
      transparent 0px,
      transparent 3px,
      rgba(0, 0, 0, 0.15) 3px,
      rgba(0, 0, 0, 0.15) 4px
    );
  pointer-events: none;
  z-index: 9999;
}